<div>
    <h2 style="text-align:center;margin-bottom:20px;">Please provide your registered email</h2>
    <form ng-submit="vm.sendForgotPasswordMail()" role="form" name="myForm" novalidate>
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" class="form-control" ng-model="vm.email" placeholder="Email"  required>
            <span style="color:red" ng-show="myForm.fn.$invalid">
            <span ng-show="myForm.email.$error.required">Email is required.</span>
            </span>
        </div>
        <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-success">Send Link</button>
         <button type="button" class="btn btn-success" ng-click="vm.goToLogin()">Back</button>
    </form>
</div>